language: android
jdk: oraclejdk7
env:
  matrix:
    - ANDROID_TARGET=android-17  ANDROID_ABI=armeabi-v7a

before_install:
 - chmod +x gradlew
android:
  components:
    - build-tools-19.1.0
  licenses:
    - android-sdk-license-5be876d5

before_script:
  # Create and start emulator
  - echo no | android create avd --force -n test -t $ANDROID_TARGET --abi $ANDROID_ABI
  - emulator -avd test -no-skin -no-audio -no-window &
  - adb wait-for-device
  - adb shell input keyevent 82 &

script: ./gradlew connectedAndroidTest

notifications:
  webhooks:
    urls:
    https://webhooks.gitter.im/e/6967b4aa34219a8450e6
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always


